{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Toxic Under Groove{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'web/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'web/assets/img_Icon_1.png' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    {% block content %}{% endblock %}

    <script src="{% static 'web/script.js' %}"></script>
</body>
</html>